<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>news</title>
  </head>
  <body>
    <h2>我是一个ejs的模版引擎--新闻页面</h2>
    <p><%=userInfo.username%></p>
    <p><%-article%></p>
    <h2>条件判断</h2>
    <%if(flag === true){%> <strong>flag=true</strong> <%}%>
  </body>
</html>
