<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>这是一个新闻列表页</h2>
    <h2><%=msg%></h2>
    <% if (user) { %>
    <h2><%= user.name %></h2>
    <% } %>
    <br/>

    <ul>
        <% for (var i = 0; i<newsList.length;i++) { %>
            <li><%= newsList[i].title %></li>
        <%}%>
    </ul>
    <div>这是第<%=page%>页</div>
  </body>
</html>
