<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>用户列表</title>
  </head>
  <body>
    <h2>获取用户列表</h2>
    <ul>
        <%for(let i = 0;i<userList.length;i++){%>
            <li>用户名：<%=userList[i].username%>，年龄:<%=userList[i].age%></li>
        <%}%>
    </ul>
  </body>
</html>
